.container {
  width: 256px;
  margin: 0 auto;
  background-color: darkblue;
  color: white;
  border-radius: 0.5em;
}

#current-forecast {
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
  text-transform: capitalize;
}

#current-forecast-icon {
  height: 100%;
  width: auto;
}
